#form-regist{
    max-height: 100vh;
}

.form-heading{
    text-transform: uppercase;
    font-size: 25px;
}

.form-hobbies{
    display: flex;
}

.form-request{
    display: flex;
    align-items:first baseline;
}

.form-button{
    position: absolute;
    left: 65px;
    margin-top: 5px;

}
.form-submit{
    border: 2px solid rgb(40, 112, 255);
    width: 100px;
}